$primary-blue: #1264a3;
$primary-purple: #611f69;
$dark-purple: #4a154b;

.purple{
    color: $primary-purple;
}

body{
    font-family: 'helvetica neue', 'helvetica';
}



.features-dropdown{
    
    li{
      
        :hover{
            color: $primary-blue ;

            b{
                text-decoration: underline;
            }
        }
    }
}



.dropdown-item:focus, .dropdown-item:hover{
    color: transparent;
    background-color: transparent;
}

.navbar-nav .dropdown-menu{
    position: absolute;
}

.dropdown-title{
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    font-weight: bold;
    text-transform: uppercase;
}

.dropdown-section-container{
    display: flex;
}

.dropdown-text{
    margin-left: 16px;
}

@keyframes underline{
    0%{width: 0PX;}
    
    100%{width: 100PX;}
    
}

.underline{
    height: 1px;
    width: 100px;
    margin-left: 16px;
}



.underline-container:hover{
    
    .underline{
        background-color: #1264a3;
        animation-name: underline;
        animation-duration: 0.6s;
    }
}


.dropdown-menu[data-bs-popper] {
    padding: 0;
    margin-top: 10px;
}

.special-dropdown{
    background-color: #f4ede4;
}


.cta{
    display: flex;
    flex-direction: column;
    align-items: center;

    .cta-buttons{
        color: white;
        border: none;
        
        
        .btn{
            color: white;
            padding: 15px 35px;
            
            :hover{
                color: white;
                
            }   
            
        }

        #google{
            background-color: $primary-blue;
            
            
            img{
                width: 20px;
                border-radius: 3px;
                
            }
        }

        #email{
            background-color: $primary-purple;
            

            :hover{
                background-color: red;
            }
        }
    }
}